*{
    padding-top: 0;
    margin-top: 0;
    font-family:Arial, Helvetica, sans-serif;    
}
body{ 
    margin-top: 0;   
    background-color: white;
    color: black;    
}
.navi_bar{
    top: 0;
    left: 0;
    background-color: #505050;
    position: fixed;
    width: 100%;

}
nav > ul{    
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
    left: 0;
    li{
        list-style-type: none;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px;
    }    
    button{
        background-color: #505050;
        border: solid 0px;
        color: white;
        padding: 10px;
        
    }
    button:hover{
        cursor: pointer;
        background-color: #808080;
        border-radius: 1px;
        
    }
    a{
        color: white;
        text-decoration: none;
    }
}
.container{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.form{
    margin-top: 40px;        
    padding: 20px;
    width: 500px;
    height: auto;
    box-shadow: lightgray 1px 1px 1px 1px;
    border-radius: 5px;
    label{
        font-weight: 600;
       
    }
    input[type="text"],input[type="email"]{
        width: 100%;
        
        padding: 2px;
        
    }
    input[type="submit"]{
        width: 101.3%;        
        padding: 2px;
        
    }
    select[id="select"]{
        width: 101.3%;
        padding: 2px;
    }
    input[type="button"]{
        margin-top: 10px;
        width: 101.3%;
        padding: 2px;
        align-self: center;
    }
}
#provinceContainer{
    display: flex;
    flex-direction: row;
}
#province{
    width: auto;
    flex-wrap: wrap;
    margin-left: 10px;
}