*{
    padding-top: 0;
    margin-top: 0;
    font-family:Arial, Helvetica, sans-serif;    
}
body{ 
    margin-top: 0;   
    background-color: white;
    color: black;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: flex-start;  
    
}
.navi_bar{
    top: 0;
    left: 0;
    background-color: #505050;
    position: fixed;
    width: 100%;

}
nav > ul{    
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
    left: 0;
    li{
        list-style-type: none;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px;
    }    
    button{
        background-color: #505050;
        border: solid 0px;
        color: white;
        padding: 10px;
        
    }
    button:hover{
        cursor: pointer;
        background-color: #808080;
        border-radius: 1px;
        
    }
    a{
        color: white;
        text-decoration: none;
    }
}
#flexcontainer{
    display: flex;  
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    width: 700px;
    flex-wrap: wrap;   
}
#content1{
    border-radius: 10px;
    box-shadow: 1px 1px 1svi 8px lightgrey;
    width: 800px;
    padding: 20px;
    margin-top: 40px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}
#content2{
    border-radius: 10px;
    box-shadow: 1px 1px 1svi 8px lightgrey;
    width: 800px;
    padding: 20px; 
    background-color: white;
    transition: background-color 0.3s, color 0.3s;   
}
body {
    background-color: white;
    color: black;
    transition: background-image 0.3s, color 0.3s;
}

h4 {
    color: black;
    transition: color 0.3s;
}

#changeButton {
    background-color: #f0f0f0;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#changeButton:hover {
    background-color: rgb(163, 163, 163);
}


.yellow-mode {
    background-image: url("./imagenes/fondo_logo_balnco_definitivo.png");
    color: black;
}

.yellow-mode h4 {
    color: #fd9800;
}

.yellow-mode #changeButton {
    background-color: #fd9800;
    color: white;
    border: 2px solid black;
}

.yellow-mode #changeButton:hover {
    background-color: #fd98006b;
}

.yellow-mode #content1{
    background-color:#243644;
    box-shadow: 1px 1px 1svi 8px#977d56d0;
}
.yellow-mode #content2{
    background-color: #243644;
    box-shadow: 1px 1px 1svi 8px#977d56d0;
}

